/****
Globals
*/

$turqoise:#1EE2D9;
$darkTurqoise:#3EF2F9;
$secondaryColor: #EE431F; 
$white:#FFF;
$lightGray:#E0E0E0;
$textColor:#000000;
$darkGray:#B0B0B0;
$mediumGray:#F3F3F3;

// TODO:Change these to em for final design
$regular-font-size:17px;
$action-font-size:20px;
$small-action-font-size:12px;
$small-label-font:10px;

a {
  text-decoration:none;
  color:inherit;
}
::-webkit-input-placeholder {
  color: $lightGray;
}

:-moz-placeholder { /* Firefox 18- */
  color: $lightGray;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $lightGray;
}

:-ms-input-placeholder {  
  color: $lightGray;
}


/*************************************************
 * Re-usable styles
 * primary-colour: #1ee2d9;
 * secondary-color: #fff;
 * font:lato
 *
 * large-padding: 75px;
 * small-padding: 22px;
 *
 * */



@font-face {
  font-family:'lato';
  src:url('/public/fonts/Lato-Regular.woff');
  font-weight:600;
  font-style:normal;
}

@font-face {
  font-family:'lato';
  src:url('/public/fonts/Lato-Light.woff');
  font-weight:lighter;
  font-style:normal;
}

@font-face {
  font-family:'lato';
  src:url('/public/fonts/Lato-Bold.woff');
  font-weight:800;
  font-style:normal;
}

@font-face {
  font-family:'lato';
  src:url('/public/fonts/Lato-SemiboldItalic.woff');
  font-weight:600;
  font-style:italic;
}

body {
  font-family:'lato';
  font-style:normal;
  font-weight:600;
}


.latolight {
  font-family:'lato', arial, sans-serif;
  font-weight:lighter;
}

.latoregular{
  font-family:'lato', arial, sans-serif;
  font-weight:600;
}

.latobold{
  font-family:'lato', arial, sans-serif;
  font-weight:800;
}

.latosemibolditalic{
  font-family:'lato', arial, sans-serif;
  font-weight:600;
  font-style:italic;
}

.text-center {
  text-align:center;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

.block-centered {
  margin:0px auto;
  display:block;
}

.top-large-padding {
  padding-top:74px;
}

.top-small-padding {
  padding-top:22px;
}

.top-medium-padding {
  padding-top:67px;
}
