/***************************
 * Marketing Page Styles
 */

#lens-marketing {
  /***************************
   * header styles
   *
   *
   * */


#header {
  background-color:$turqoise;
  width:100%;
  padding-bottom:22px;
}

#header-blurb {
  width:525px;
  margin:0px auto;
  line-height:1.25;
  font-size:$regular-font-size;
}

#header-title {
  font-size:36px;
}

.action-button-white{
  @include marketing-button($white, $action-font-size);
}

.action-button-turqoise{
  @include marketing-button($turqoise, $action-font-size);
}

#create-lens-container {
  width:245px;
  margin-top:22px;
}

/*********************
 * Content Explanation Styles
 *
 *
 * */

#content {
  margin:0px auto;
  text-align:center;
}

#ytplayer {
  display:inline-block;
}
#explanation {
  display:inline-block;
  vertical-align:top;
  font-size:$regular-font-size;
}

#contribute-button-container{
  width:245px;
}

#explanation-blurb {
  max-width:525px;
  margin-left:auto;
  margin-right:auto;
  line-height:1.25;
  margin-bottom:30px;
}

#contribute-button {
}


}
