@import 'base';
@import 'reset';

/***************************
 * header styles
 *
 *
 * */

#header {
  background-color:$turqoise;
  width:100%;
  padding-bottom:22px;
}

#header-blurb {
  width:525px;
  margin:0px auto;
  line-height:1.25;
  font-size:$regular-font-size;
}

#header-title {
  font-size:36px;
}

.action-button-white{
  @include button($white, $action-font-size);
}

.action-button-turqoise{
  @include button($turqoise, $action-font-size);
}

#create-lens-container {
  width:245px;
  margin-top:22px;
}

/*********************
 * Content Explanation Styles
 *
 *
 * */

#content {
  margin:0px auto;
  max-width:890px;
}

#ytplayer {
  display:inline-block;
}
#explanation {
  @include calc("width", "50% - 50px");
  padding:20px 0px 0px 50px;
  display:inline-block;
  vertical-align:top;
  font-size:$regular-font-size;
}


#explanation-blurb {
  line-height:1.25;
  margin-bottom:30px;
}

#contribute-button {
  width:245px;
}


