.lens-component-custom-inputs {
  border-width:0px 2px 2px 2px;
  border-style:solid;
  border-color:$lightGray;
  background-color:$mediumGray;
  width:20%;
  box-sizing:border-box;
  text-align:center;
  float:right;
  vertical-align:top;
  padding:10px 30px 30px 10px;
  color: $darkGray;
  font-size:12px;
  font-weight:600;
  font-family:'lato';
  .lens-input-field-wrapper {
    margin:5px;
  }
  .lens-input-field {
    margin:5px;
  }

}



