.lens-component-menu {
  vertical-align:top;
  padding:20px 0px 0px 0px;
  display:inline-block;
  #add-component-value {
    border:none;
    background:transparent;
    outline:none;
    display:inline-block;
    margin-top:5px;
    margin-left: 15px;
    height:35px;
    vertical-align:top;
    border-bottom:1px solid $lightGray;
    font-size: $action-font-size;
  }
  .lens-component-menu-instructions{
    margin-bottom: 30px;
    line-height:2;
    a {
      text-style:underline;
      color:blue;
    }
   }
  .lens-component-menu-header{
    margin-bottom:10px;
  }

}
