.lens-component-viewer{
  box-sizing:border-box;
  display:inline-block;
  height:100%;
  width:100%;
  #chart-div {
    display:inline-block;
  }
  .lens-component-viewer-current-component {
    text-align:center;
    width:80%;
    display:inline-block;
  }
}
