.lens-track-manager {
  border-width:0px 2px 2px 2px;
  border-style:solid;
  border-color:$lightGray;
  background-color:$mediumGray;
  width:20%;
  box-sizing:border-box;
  display:inline-block;
  text-align:center;
  #wrapper {
    padding:20px 0px;
  }

  #add-track-button {
    margin-bottom:30px;
  }

  #circle-button-wrapper {
    margin:0px auto;
    width:35px;
  }
}



