.lens-publish-button{
  display:table-cell;
  box-sizing:border-box;
  width:1%;
  padding:0px 20px;
  vertical-align:middle;
  border-top:2px solid $lightGray;
  border-right:2px solid $lightGray;
  border-bottom:2px solid $lightGray;
  text-align:center;
  font-family:'lato';
  font-weight:600;

}
