.lens-component-viewer{
  box-sizing:border-box;
  padding:0px 30px;
  text-align:center;
  display:inline-block;
  width:80%;
  height:100%;
  #chart-div {
    display:inline-block;
  }
  overflow:overlay;
}
