.lens-publish-button-wrapper{
  display:inline-block;
  box-sizing:border-box;
  width:10%;
  height:123px;
  vertical-align:top;
  border-top:2px solid $lightGray;
  border-right:2px solid $lightGray;
  border-bottom:2px solid $lightGray;
  text-align:center;
  font-family:'lato';
  font-weight:600;
  .lens-share-button {
    margin:0px auto;
    vertical-align:middle;
    height:123px;
    width:1%;
    display:table-cell;
  }

}
