/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/****
Globals
*/
a {
  text-decoration: none;
  color: inherit; }

html {
  height: 100%; }

body {
  height: 100%; }

#app {
  height: 100%; }

::-webkit-input-placeholder {
  color: #E0E0E0; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #E0E0E0; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #E0E0E0; }

:-ms-input-placeholder {
  color: #E0E0E0; }

/*************************************************
 * Re-usable styles
 * primary-colour: #1ee2d9;
 * secondary-color: #fff;
 * font:lato
 *
 * large-padding: 75px;
 * small-padding: 22px;
 *
 * */
@font-face {
  font-family: 'lato';
  src: url("/public/fonts/Lato-Regular.woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("/public/fonts/Lato-Light.woff");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("/public/fonts/Lato-Bold.woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("/public/fonts/Lato-SemiboldItalic.woff");
  font-weight: 600;
  font-style: italic; }

body {
  font-family: 'lato';
  font-style: normal;
  font-weight: 600; }

.latolight {
  font-family: 'lato', arial, sans-serif;
  font-weight: lighter; }

.latoregular {
  font-family: 'lato', arial, sans-serif;
  font-weight: 600; }

.latobold {
  font-family: 'lato', arial, sans-serif;
  font-weight: 800; }

.latosemibolditalic {
  font-family: 'lato', arial, sans-serif;
  font-weight: 600;
  font-style: italic; }

.text-center {
  text-align: center; }

.center {
  margin-left: auto;
  margin-right: auto; }

.block-centered {
  margin: 0px auto;
  display: block; }

.top-large-padding {
  padding-top: 74px; }

.top-small-padding {
  padding-top: 22px; }

.top-medium-padding {
  padding-top: 67px; }

/********
 * Mix-in Library
 *
 *
 * */
/***************************
 * Marketing Page Styles
 */
#lens-marketing {
  /***************************
   * header styles
   *
   *
   * */
  /*********************
 * Content Explanation Styles
 *
 *
 * */ }
  #lens-marketing #header {
    background-color: #1EE2D9;
    width: 100%;
    padding-bottom: 22px; }
  #lens-marketing #header-blurb {
    width: 525px;
    margin: 0px auto;
    line-height: 1.25;
    font-size: 17px; }
  #lens-marketing #header-title {
    font-size: 36px; }
  #lens-marketing .action-button-white {
    background-color: #FFF;
    border-radius: 30px;
    width: 1%;
    height: 45px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px; }
  #lens-marketing .action-button-turqoise {
    background-color: #1EE2D9;
    border-radius: 30px;
    width: 1%;
    height: 45px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px; }
  #lens-marketing #create-lens-container {
    width: 245px;
    margin-top: 22px; }
  #lens-marketing #content {
    margin: 0px auto;
    text-align: center; }
  #lens-marketing #ytplayer {
    display: inline-block; }
  #lens-marketing #explanation {
    display: inline-block;
    vertical-align: top;
    font-size: 17px; }
  #lens-marketing #contribute-button-container {
    width: 245px; }
  #lens-marketing #explanation-blurb {
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
    margin-bottom: 30px; }

.lens-viewport {
  display: inline-block;
  width: 80%;
  box-sizing: border-box;
  vertical-align: top;
  height: calc(100% - 126px); }

.lens-composer {
  height: 100%; }

.lens-title-bar-container {
  height: 123px; }

#lens-title-bar {
  border: 2px solid #E0E0E0;
  padding: 30px 0px;
  width: 90%;
  box-sizing: border-box;
  display: table-cell; }
  #lens-title-bar #lens-title {
    font-size: 20px;
    color: #B0B0B0; }
  #lens-title-bar #lens-author {
    font-size: 17px; }
  #lens-title-bar .title-bar-input {
    border: none;
    background: transparent;
    outline: none;
    padding-left: 50px;
    display: block;
    margin-top: 5px; }
  #lens-title-bar #lens-title-wrapper {
    display: inline-block;
    width: 20%; }
  #lens-title-bar #lens-published-links {
    display: inline-block;
    font-size: 17px;
    line-height: 2;
    margin-left: 50px; }

.lens-track-manager {
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: #E0E0E0;
  background-color: #F3F3F3;
  width: 20%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  height: calc(100% - 126px); }
  .lens-track-manager #wrapper {
    padding: 30px 0px; }
  .lens-track-manager #add-track-button {
    margin-bottom: 30px; }
  .lens-track-manager #circle-button-wrapper {
    margin: 0px auto;
    width: 35px; }

.lens-oval-button-wrapper {
  display: inline-block; }
  .lens-oval-button-wrapper .lens-oval-button {
    background-color: transparent;
    border-radius: 30px;
    height: 35px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 3px;
    border: 2px solid #B0B0B0;
    padding: 0px 15px;
    cursor: pointer; }

.lens-node {
  margin-bottom: 0px; }
  .lens-node .lens-node-circle {
    background-color: transparent;
    border: 2px solid #B0B0B0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px auto; }
  .lens-node .lens-node-name {
    margin-top: 5px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #B0B0B0;
    text-align: center;
    font-size: 10px; }
  .lens-node .lens-node-delete {
    float: right;
    position: relative;
    bottom: 90px;
    border: none;
    background-color: transparent; }
  .lens-node .lens-connector-solid-vertical {
    width: 0px;
    height: 50px;
    margin: 5px auto 0px auto;
    border: 1px solid #B0B0B0; }
  .lens-node .lens-connector-dashed-vertical {
    width: 0px;
    height: 50px;
    margin: 5px auto 0px auto;
    border: 1px dashed #B0B0B0; }
  .lens-node .selected {
    background-color: #1EE2D9; }

.lens-add-button {
  background-color: #B0B0B0;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer; }

.lens-selected-button {
  background-color: #1EE2D9;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-animation: grow 2s infinite;
  /* Safari 4+ */
  -moz-animation: grow 2s infinite;
  /* Fx 5+ */
  -o-animation: grow 2s infinite;
  /* Opera 12+ */
  animation: grow 2s infinite;
  /* IE 10+, Fx 29+ */
  animation-iteration-count: infinite; }

@-webkit-keyframes grow {
  50% {
    --webkit-transform: scale(1.15); }
  100% {
    --webkit-transform: scale(1); } }

@-moz-keyframes grow {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes grow {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes grow {
  50% {
    transform: scale(1.15); }
  100% {
    transform: scale(1); } }

.lens-component-menu {
  vertical-align: top;
  padding: 20px 0px 0px 0px;
  display: inline-block; }
  .lens-component-menu #add-component-value {
    border: none;
    background: transparent;
    outline: none;
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
    height: 35px;
    vertical-align: top;
    border-bottom: 1px solid #E0E0E0;
    font-size: 20px; }

.lens-component-menu {
  vertical-align: top;
  padding: 20px; }

.lens-component-viewer {
  box-sizing: border-box;
  padding: 0px 30px;
  text-align: center;
  display: inline-block;
  width: 80%; }
  .lens-component-viewer #chart-div {
    display: inline-block; }

.lens-publish-button {
  display: table-cell;
  box-sizing: border-box;
  width: 1%;
  padding: 0px 20px;
  vertical-align: middle;
  border-top: 2px solid #E0E0E0;
  border-right: 2px solid #E0E0E0;
  border-bottom: 2px solid #E0E0E0;
  text-align: center;
  font-family: 'lato';
  font-weight: 600; }

.lens-data-viewer {
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #e1e1e1;
  display: inline-block; }

.lens-component-custom-inputs {
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-color: #E0E0E0;
  background-color: #F3F3F3;
  width: 20%;
  box-sizing: border-box;
  text-align: center;
  float: right;
  vertical-align: top;
  padding: 10px 30px 30px 10px;
  color: #B0B0B0;
  font-size: 12px;
  font-weight: 600;
  font-family: 'lato';
  height: 100%; }
  .lens-component-custom-inputs .lens-input-field-wrapper {
    margin: 5px; }
  .lens-component-custom-inputs .lens-input-field {
    margin: 5px; }

@media only screen and (max-width: 825px) {
  #header-blurb {
    width: 100%; }
  #ytplayer {
    width: 100%; }
  #content {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px; }
  #lens-marketing #header-blurb {
    width: 100%; }
  #explanation {
    text-align: justified;
    width: 100%;
    padding: 20px 0px 0px 0px; }
  #explanation-blurb {
    padding-left: 10px;
    padding-right: 10px; }
  #contribute-button-container {
    width: 245px; } }
