/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/****
Globals
*/
a {
  text-decoration: none;
  color: inherit; }

::-webkit-input-placeholder {
  color: #E0E0E0; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #E0E0E0; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #E0E0E0; }

:-ms-input-placeholder {
  color: #E0E0E0; }

/********
 * Mix-in Library
 *
 *
 * */
/*************************************************
 * Re-usable styles
 * primary-colour: #1ee2d9;
 * secondary-color: #fff;
 * font:lato
 *
 * large-padding: 75px;
 * small-padding: 22px;
 *
 * */
@font-face {
  font-family: 'lato';
  src: url("/public/fonts/Lato-Regular.woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("/public/fonts/Lato-Light.woff");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("/public/fonts/Lato-Bold.woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("/public/fonts/Lato-SemiboldItalic.woff");
  font-weight: 600;
  font-style: italic; }

.latolight {
  font-family: 'lato', arial, sans-serif;
  font-weight: lighter; }

.latoregular {
  font-family: 'lato', arial, sans-serif;
  font-weight: 600; }

.latobold {
  font-family: 'lato', arial, sans-serif;
  font-weight: 800; }

.latosemibolditalic {
  font-family: 'lato', arial, sans-serif;
  font-weight: 600;
  font-style: italic; }

.text-center {
  text-align: center; }

.center {
  margin-left: auto;
  margin-right: auto; }

.block-centered {
  margin: 0px auto;
  display: block; }

.top-large-padding {
  padding-top: 74px; }

.top-small-padding {
  padding-top: 22px; }

.top-medium-padding {
  padding-top: 67px; }

.title-bar-input {
  border: none;
  background: transparent;
  outline: none;
  padding-left: 50px;
  display: block;
  margin-top: 5px; }

#lens-title-bar {
  border: 2px solid #E0E0E0;
  padding: 30px 0px;
  width: 90%; }

#lens-title {
  font-size: 20px;
  color: #B0B0B0; }

#lens-author {
  font-size: 17px; }
