<!DOCTYPE html>
<html>
  <head>  
    <link href="/styles.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <div><%-initialState%></div>
    </div>
    <script src='app.js' type="text/javascript"></script>
    change
  </body>
  
</html>
