@media only screen and (max-width: 825px) {
  #header-blurb {
    width: 100%; }
  #ytplayer {
    width: 100%; }
  #content {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px; }
  #explanation {
    text-align: justified;
    width: 100%;
    padding: 20px 0px 0px 0px; }
  #explanation-blurb {
    padding-left: 10px;
    padding-right: 10px; }
  #contribute-button-container {
    width: 245px; } }
