<!DOCTYPE html>
<html>
  <head>  
  <!-- inject:css -->
  <link rel="stylesheet" href="/public/stylesheets/all.css">
  <!-- endinject -->

  <script src="/public/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <!-- todo dynamically load -->
  <link rel="import" href="/public/bower_components/lens-input-paste/lens-input-paste.html">

  </head>

  <body>
    <div id="app">
    </div>
    <!-- inject:js -->
    <script src="/public/js/ui.js"></script>
    <!-- endinject -->
  </body>
  
</html>
