<!DOCTYPE html>
<html>
  <head>  
  <!-- inject:css -->
  <link rel="stylesheet" href="/public/stylesheets/all.css">
  <!-- endinject -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
  <script type='text/javascript'>
    var lensId='{{lensId}}';
  </script>
  </head>

  <body>
    <div id="app">
    </div>
    <!-- inject:js -->
    <script src="/public/js/ui.js"></script>
    <!-- endinject -->
  </body>
  
</html>
