<html>
<head>
<link href='/public/stylesheets/style.css' rel='stylesheet'>
</head>
<body>
  <div id='header' class='center'>
    <img class= 'block-centered top-large-padding' src='/public/images/lenses-logo.png' alt='Lenses Owl Logo' />
    <h1 class='text-center latolight top-small-padding' id="header-title">
      LENSES
    </h1>
    <h3 class='text-center latoregular' id="header-blurb">
      Lenses is a web toolkit that enables the rapid creation of sophisticated data visualizations and interactive graphics
    </h3>
    <div id='create-lens-container' class='center'>
      <div id='create-lens-button' class='latobold'>
        CREATE A LENS
      </div>
    </div>
  </div>
  <div id="content">
    <div id="explanation">
    </div>
    <div id="latest-examples">
    </div>
  </div>
</body>
</html>
