<html>
<head>
<link href='/public/stylesheets/style.css' rel='stylesheet'>
</head>
<body>
  <div id="header">
  </div>
  <div id="content">
    <div id="explanation">
    </div>
    <div id="latest-examples">
    </div>
  </div>
</body>
</html>
