<html>
<head>
<meta name="viewport" content="width=device-width" />
<!-- inject:css -->
<link rel="stylesheet" href="/public/stylesheets/all.css">
<!-- endinject -->
</head>
<body>
<div id='lens-marketing'>
  <div id='header' class='center'>
    <img class='block-centered top-large-padding' src='/public/images/lenses-logo.png' alt='Lenses Owl Logo' />
    <h1 id='header-title' class='text-center latolight top-small-padding'>
      LENSES
    </h1>
    <h3 id='header-blurb' class='text-center top-medium-padding latoregular'>
      Lenses is an open source platform for creating reproducible
      data visualizations on the web.
    </h3>
    <div id='create-lens-container' class='center'>
      <div class='action-button-white latobold'>
        <a href='./lenses/new'>CREATE A LENS</a>
      </div>
    </div>
  </div>
  <div id='content' class='top-medium-padding'>
    <div id='explanation'>
      <div id='explanation-blurb' class='latoregular'>
        Visualiztions are built from composable blocks that are contributed by the community.
        You only need to know some Javascript, the basics of React and HTML to start contributing a component.
      </div>
    </div>
    <div id='contribute-button-container' class='center'>
      <div id='contribute-button' class='action-button-turqoise latobold'>
        <a href='https://github.com/lenses/lenses-react'> CONTRIBUTE </a>
      </div>
    </div>
  </div>
  <div class='divider'>
  </div>
</div>
<!-- inject:js -->
<script src="/public/js/ui.js"></script>
<!-- endinject -->
</body>
</html>
