<!DOCTYPE html>
<html>
  <head>  
  <!-- inject:css -->
  <link rel="stylesheet" href="/public/stylesheets/all.css">
  <!-- endinject -->
  <body>
    <div id="lens-list">
    </div>
    <!-- inject:js -->
    <script src="/public/js/ui.js"></script>
    <!-- endinject -->
  </body>
  
</html>
