<!DOCTYPE html>
<html>
  <head>  
  <!-- inject:css -->
  <link rel="stylesheet" href="/public/stylesheets/all.css">
  <!-- endinject -->
  <script type='text/javascript'>
    var lensId='{{lensId}}';
  </script>
  </head>

  <body>
    <div id="published-component">
    </div>
    <!-- inject:js -->
    <script src="/public/js/ui.js"></script>
    <!-- endinject -->
  </body>
  
</html>
